*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation styes */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
font-size: 45px;
}
.text-primary{
    color: indianred;
}
.btn-primary  {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;

}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
font-size: 85px;

}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;

}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section{
    margin-top: 130px;
}
/* about section */
.about{
    
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    text-align:center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
}
/* what i do style */

.skills-container{
    display: flex;
    gap:24px;
}
.skill{
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
/* Resumy style */
.resumi-content{
    display: flex;
    gap: 24px;
}
.resumi-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resumi .title{
    color: #474747;
    font-weight: 700;
font-size: 25px;
margin-bottom: 20;
    
}
.resumi .sub-title{
    color: #757575;
    font-weight: 400;
font-size: 16px;
margin-bottom: 20px;
    

}
.resumi .description{
    color: #757575;


}
.resumi-button{
    margin-top: 50px;
    text-align: center;
}
/* contract style */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align:left;
}
.contact input[ type="text"], input[ type="email" ] textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding:18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}

